
.about__wrapper {
  max-width: 1170px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 110px 25px 96px 0;

  @media (max-width: $tablet-width-only) {
    padding: 59px 25px 75px;
  }

  @media (max-width: $mobile-width-only) {
    padding-bottom: 65px;
  }
}

.about__text {
  padding-left: 180px;

  background-image: url("../img/year.png");
  background-repeat: no-repeat;
  background-position: -25px 0;

  @media (max-width: $tablet-width-only) {
    background-position: -25px 0;
  }

  @media (max-width: $mobile-width-only) {
    padding-left: 0;
    background-image: none;
  }
}

.about h2 {
  @include font(36px, 51px, 400);
  font-family: "Roboto Condensed", "Arial", sans-serif;
  color: $basic-grey;
  margin: 0;
  padding-bottom: 17px;

  @media (max-width: $mobile-width-only) {
    @include font(28px, 39px, 400);
  }
}

.about p {
  @include font(16px, 22px, 400);
  color: $basic-grey;
  margin: 0;
  padding-bottom: 21px;

  @media (max-width: $tablet-width-only) {
    display: inline-block;
    max-height: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @media (max-width: $mobile-width-only) {
    max-height: 90px;
  }
}

.about a {
  @include font(14px, 16px, 700);
  border: 1px solid $accent-primary;
  border-radius: 5px;
  color: $accent-primary;
  padding: 14px 13px;
  text-decoration: none;
  min-width: 180px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 14px;

  &:hover {
    background-color: rgba($accent-primary, 0.1);
  }
}
