// colors

$basic-light: #ffffff;
$basic-dark: #1B2D37;
$basic-grey: #666666;
$special-grey: #788891;
$special-dark: #203C42;
$accent-primary: #00B2FF;
$accent-secondary: #19BAFF;

// viewports

$mobile-width-only: 767px;
$tablet-width-only: 1023px;
