// colors

$basic-light: #ffffff;
$basic-dark: #1b2d37;
$basic-grey: #666666;
$special-grey: #788891;
$special-grey-2: #c4c4c4;
$special-grey-light: #626962;
$special-dark: #203c42;
$accent-primary: #00b2ff;
$accent-secondary: #19baff;

// viewports

$mobile-width-only: 749px;
$tablet-width-only: 1023px;
